.bifoql-doc aside {
    background-color: #fffbe2;
    margin-left: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.bifoql-doc p {
    margin: 0 0 20px;
}

.graphql-example {
    margin-top: 10px;
    margin-left: 35px;
}