.playpen-output {
    max-height: 500px;
    overflow-y: scroll;
    margin: 10px;
}

.playpen-query {
    margin: 10px;
}

.playpen-input {
    margin: 10px;
}

.playpen-container-compact .playpen-header {
    margin: 10px;
}

.playpen-container-compact {
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 75px;
}

.playpen-container-compact .CodeMirror {
    border: 1px solid lightgray;
    height: auto;
}

.playpen-container .CodeMirror {
    border: 1px solid lightgray;
    height: auto;
}

.playpen-container-compact .playpen-helptext {
    display: none;
}